<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::page_head('Tech-Shop','none')">
    <meta charset="UTF-8">
    <title>Tech-Shop</title>
</head>
<body>
<div class="container-fluid text-center">
    <div th:replace="navigation::header_menu"></div>
    <div>
        <h2>Customer Login</h2>
    </div>

    <div class="my-3">
        <a class="btn btn-lg btn-secondary " th:href="@{/oauth2/authorization/google}"><i class="fa-brands fa-google mr-3"></i>Continue with Google</a>
    </div>

    <div class="my-3">
        <a class="btn btn-lg btn-secondary " th:href="@{/oauth2/authorization/facebook}"><i class="fa-brands fa-facebook mr-3"></i>Continue with Facebook</a>
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 350px;margin: 0 auto">
        <div th:if="${param.error}">
            <p class="text-danger" th:utext="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out</p>
        </div>
        <div class="border border-secondary p-3 mb-3">
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <p>
                <input type="checkbox" name="remember-me" class="mr-2">Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary">
            </p>

        </div>

        <div>
            <p><a th:href="@{/forgot_password}">Forgot password?</a></p>
        </div>

        <div>
            <p>Don't have an account? <a th:href="@{/register}"><b>Sign up</b></a></p>
        </div>
    </form>

    <div th:replace="navigation::footer_menu"></div>
</div>
</body>
</html>