<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments::page_head('Reset password','none')">
    <meta charset="UTF-8">
</head>

<body>
<div class="container-fluid text-center">
    <div th:replace="navigation::header_menu"></div>

    <div>
        <h1>Reset your password</h1>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">

        <input type="hidden" name="token" th:value="${token}">
        <div class="border border-secondary rounded p-3 my-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password" required
                         minlength="6" maxlength="15"  autofocus >
                </p>
            </div>
            <div>
                <p>
                    <input type="password"  class="form-control" placeholder="Confirm your new password" required
                           minlength="6" maxlength="15" oninput="checkPasswordMatch(this)">
                </p>
            </div>

            <div>
                <p>
                    <input type="submit" class="btn btn-primary" value="Change Password">
                </p>
            </div>
        </div>


    </form>

    <div th:replace="navigation::footer_menu"></div>


</div>
<script>
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value !== $('#password').val()) {
            confirmPassword.setCustomValidity("Password do not match");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>