<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head(${pageTitle},'none')">

<body>
<div class="container-fluid">
    <div th:replace="navigation::menu"></div>

    <div>
        <h1>Manage brands | [[${pageTitle}]] </h1>
    </div>
    <div class="alert alert-success text-center" th:if="${message!=null}" th:utext="${message}">
    </div>
    <form th:action="@{/brands/save}" method="post" style="max-width: 500px; margin: 0 auto" th:object="${brand}"
          enctype="multipart/form-data" onsubmit="return checkUnique(this)">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Brand Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}" required minlength="2" maxlength="45">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Brand Logo:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{logo}">
                    <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpg," class="mb-2">
                    <div class="mt-2">
                        <img id="thumbnail" alt="Image preview" th:src="@{${brand.logoPath}}" class="img-fluid">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Select one or more categories:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{categories}" multiple required
                            style="resize: vertical; height: 200px">
                        <option th:value="0">[No parent]</option>
                        <th:block th:each="cat:${listCategories}">
                            <option th:value="${cat.id}" th:utext="${cat.name}"></option>
                        </th:block>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Chosen categories:</label>
                <div class="col-sm-8">
                    <div id="chosenCategories"></div>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="save" class="btn btn-primary m-3">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>

        </div>
    </form>

    <div th:replace="modal_fragments::modal_dialog"></div>

    <div th:replace="fragments::footer"></div>

</div>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
<script>
    MAX_FILE_SIZE = 102400; //100 KB
    const moduleURL = "[[@{/brands}]]";

    $(document).ready(function () {
        const dropdownCategories = $('#categories');
        const divChosenCategories = $('#chosenCategories');

        dropdownCategories.change(function () {
            showChosenCategories();
        })

        showChosenCategories();

        function showChosenCategories() {
            divChosenCategories.empty();
            dropdownCategories.children('option:selected').each(function () {
                const selectedCategory = $(this);
                const catId = selectedCategory.val();
                const catName = selectedCategory.text().replaceAll('-','');
                // console.log(catId + ':' + catName);
                divChosenCategories.append('<span class="badge badge-secondary m-1">'+ catName + '</span>')
            })
        }
    })

    function checkUnique(form) {
        const brandId = $('#id').val();
        const brandName = $('#name').val();
        const csrfValue = $("input[name='_csrf']").val();

        const url = "[[@{/brands/check_unique}]]";
        const params = {id: brandId, name: brandName, _csrf: csrfValue};

        $.post(url,params,function (response){
            if (response==="OK"){
                form.submit();
            }else if(response==="Duplicate"){
                showWarningModal("There is another brand having same name " + brandName);
            }else {
                showErrorModal("Unknown response from server");
            }
        }).fail(function (){
            showErrorModal("Could not connect to the server");
        })
        return false;
    }

</script>
</body>
</html>