<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Shipping rates- Tech Shop admin','none')">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation::menu"></div>

    <div>
        <h2>Manage Shipping rates</h2>
        <a th:href="@{/shipping_rates/new}" class="mr-2"><i class="fa-solid fa-folder-plus fa-2x icon-dark"></i></a>
    </div>

    <div th:replace="fragments::search_fragment_and_message"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments::column_link('id', 'ID', 'none')"></th>
                <th th:replace="fragments::column_link('country.name', 'Country','none')"></th>
                <th th:replace="fragments::column_link('state', 'State','none')"></th>
                <th th:replace="fragments::column_link('rate', 'Rate','none')"></th>
                <th th:replace="fragments::column_link('days', 'Days','none')"></th>
                <th th:replace="fragments::column_link('codSupported', 'COD Supported','none')"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rate : ${shippingRates}">
                <td  th:utext="${rate.id}"></td>
                <td  th:utext="${rate.country.name}"></td>
                <td  th:utext="${rate.state}"></td>
                <td  th:utext="${rate.rate}"></td>
                <td  th:utext="${rate.days}"></td>
                <td>
                    <div th:replace="shipping_rates/shipping_rates_fragment::cod_support"></div>
                </td>
                <td class="text-center">
                    <div th:replace="fragments::edit('shipping rate','/shipping_rates/edit/' + ${rate.id})"></div>
                    <div th:replace="fragments::delete('shipping rate',${rate.id},'/shipping_rates/delete/' + ${rate.id},true)"></div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="rate : ${shippingRates}" class="row m-1">
            <div class="col-4">
                <span><b th:utext="${rate.country.name}"></b></span>
                <br>
                <span th:utext="${rate.state}"></span>
            </div>
            <div class="col-8">
                <div th:replace="shipping_rates/shipping_rates_fragment::cod_support"></div>
                <div th:replace="fragments::edit('shipping rate','/shipping_rates/edit/' + ${rate.id})"></div>
                <div th:replace="fragments::delete('shipping rate',${rate.id},'/shipping_rates/delete/' + ${rate.id},true)"></div>
            </div>
        </div>
    </div>

    <div th:replace="fragments::pagination('shipping rates')"></div>
    <div th:replace="modal_fragments::confirm_modal"></div>
    <div th:replace="fragments::footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script>

    moduleURL = "[[@{/shipping_rates}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'shipping rate');
        })
    })
</script>
</body>
</html>